# TeX Compile Files
tex/EquReport/*.aux
tex/EquReport/*.log
tex/EquReport/*.nav
tex/EquReport/*.out
tex/EquReport/*.snm
tex/EquReport/*.toc
tex/EquReport/*.vrb
tex/Equestrotpia/*.aux
tex/Equestrotpia/*.log
tex/Equestrotpia/*.nav
tex/Equestrotpia/*.out
tex/Equestrotpia/*.snm
tex/Equestrotpia/*.toc
tex/Equestrotpia/*.vrb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
