# TeX Compile Files
tex/EquReport/*.aux
tex/EquReport/*.log
tex/EquReport/*.nav
tex/EquReport/*.out
tex/EquReport/*.snm
tex/EquReport/*.toc
tex/EquReport/*.vrb
tex/EquReport/*.bbl
tex/EquReport/*.blg
tex/EquReport/*.synctex.gz
tex/Equestrotopia/*.aux
tex/Equestrotopia/*.log
tex/Equestrotopia/*.nav
tex/Equestrotopia/*.out
tex/Equestrotopia/*.snm
tex/Equestrotopia/*.toc
tex/Equestrotopia/*.vrb
tex/Equestrotopia/*.bbl
tex/Equestrotopia/*.blg
tex/Equestrotopia/*.synctex.gz

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
